#bp-widget {
  background-color: #00a0dd !important;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#bp-widget .bp-widget-button {
  font-size: 24px;
}

#bp-widget .bp-widget-button:before {
  content: url('URL_DEL_ICONO_DEL_ROBOT'); /* Coloca la URL de tu icono aquí */
}

#bp-widget .notification-badge {
  background-color: #ff0000; /* Color para la notificación */
  top: -10px;
  right: -10px;
  font-size: 12px;
}

#bp-widget .notification-badge::after {
  content: "¿En qué podemos ayudar?";
  font-size: 12px;
  color: white;
  display: block;
  text-align: center;
}
